<html ng-app="app">
    <head>
        <title></title>
        <link href="app/assets/css/bootstrap.min.css" rel="stylesheet"/>
        <link href="app/assets/css/style.css" rel="stylesheet"/>
    </head>
    <body>
        <div class="" ng-controller="TodoController as todoCtrl">
            <div class="container">
                <div class="col-sm-8 col-sm-offset-2">
                    <div ng-class="{ 'alert': flash, 'alert-success': flash.type === 'success', 'alert-danger': flash.type === 'error' }" ng-if="flash" ng-bind="flash.message"></div>
                    
                    <div ng-view> </div>
                </div>
                <div class="col-md-6 col-md-offset-3">
                    <h2>To Do Application</h2>
                    <form name="form" ng-submit="todoCtrl.save()" role="form">
                        <div class="form-group" ng-class="{ 'has-error': form.task.$dirty && form.task.$error.required }">
                            <label for="task">Task</label>
                            <input type="text" name="task" id="task" class="form-control" ng-model="todoCtrl.todo.task" required />
                            <span ng-show="form.task.$dirty && form.task.$error.required" class="help-block">task value is required</span>
                        </div>
                        <div class="form-actions">
                            <button type="submit"  class="btn btn-primary">Save</button>
                        </div>
                    </form>
                </div>
                <div style="clear:both;">
                    <button type="button" class="btn btn-warning" ng-click="todoCtrl.getTask(1)">Pending Task</button>
                    <button type="button" class="btn btn-success" ng-click="todoCtrl.getTask(2)">Completed task</button>
                    <button type="button" class="btn btn-primary" ng-click="todoCtrl.getAll()">All task</button>
                </div>
                <div style="clear:both;">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Task</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="x in todoCtrl.data | orderBy : 'status'">
                                <td ng-class="(x.status != 1) ? 'markClass':'' ">
                                    <input type="checkbox" ng-value="{{todoCtrl.selectedTask}}" ng-disabled="(x.status != 1) ? true :false " ng-click="todoCtrl.taskComplete(x)">
                                     <span ng-click="todoCtrl.editTask(x)" ng-disabled="(x.status === 1) ? true :false ">{{ x.task }}</span>
                                     <input type="button" value="Delete task" ng-if="(x.status === 1) ? true :false " ng-click="todoCtrl.taskDelete(x)" style="float:right;">
                                </td>
                            </tr>
                        </tbody>
                      </table>
                </div>
            </div>
        </div>
        <footer></footer>
        <script src="app/assets/js/jquery-3.2.1.min.js"></script>
        <script src="node_modules/angular/angular.min.js"></script>
        <script src="app/app.js"></script>
        <script src="app/todo.service.js"></script>
        <script src="app/flash.service.js"></script>
        <script src="app/todoController.js"></script>
        </body>
    </html>